
#content-pane {
	max-width: 800px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;/**/
}

header {
	font-family: 'Montserrat', sans-serif;/**/
}

#headshot {
	float: right;
	max-height: 300px;
	padding-left: 10px;
}

pre {
	color:#17c423;
	background-color:black;
	border:1px solid #cdcdcd;
	padding:0.5em 1em;
	border-radius:0.25em;
}

code {
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
}

#menu-bar {
	width: 100%;
	table-layout: fixed;
	text-align: center;
}

#menu-bar a {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
